:root{
  --header-height: 3rem;
}
*{
  font-family: Arial;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
a{
  text-decoration: none;
  color: inherit;
}

html{
  font-size: clamp(14px,2.5vw,50px);
}
body{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #170a01;
  background-image: url("/rustyrackdemo/rusty-global-source/images/rustyBGPattern.webp");
}
@media (max-width: 318px) {
  body{
    display: none;
  }
  html{
    background-color: black;
  }
}







header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 1rem;
  z-index: 10;

  width: 100%;

  margin: 1rem;
  margin-bottom: .25rem;
  padding: .5rem;
  border-radius: .5rem;

  background: linear-gradient(89deg,rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .5) 25%, rgba(0, 0, 0, .8) 50%, rgba(0, 0, 0, .5) 75%, rgba(0, 0, 0, .2) 100%);
}

#header-left{
  display: flex;
  align-items: center;
  gap: .5rem;
}
  #logo-img{
    height: var(--header-height);
  }
  #lang-selector{
    display: grid;
    justify-items: center;

    background: none;
    border: none;
  }
    #lang-button{
      background-image: url("/rustyrackdemo/rusty-global-source/images/american-flag.webp");
      background-size: cover;
    }
    #lang-img{
      height: 1rem;
      width: 1rem;
      border: none;
      border-radius: .5rem;
      border-color: black;
      border-width: 1px;
      border-style: solid;
    }
    #lang-text{
      font-size: .6rem;
      color: white;
    }


#header-center{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
  #banner-img{
    height: var(--header-height);
  }
      #header-center a,#header-left a{
        display: block;
        font-size: 0;
      }

main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
