@font-face {
  font-family: Hanuman;
  src: url("/rustyrackdemo/global-source/Hanuman-ExtraBold.ttf");
}
*{
  font-family: Hanuman;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: clamp(16px,4vw,50px);
}
body{
  background-color: #170a01;
  background-image: url("rustyBGPattern.webp");
}
#lang-button{
  background-image: url("american-flag.webp");
  background-size: cover;
}