

.swiper{
  margin: 1rem;
  border-radius: .5rem;
}

.swiper-slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(0,0,0,0.4);
  gap: 1rem;
  padding-bottom: 2rem;
  border-radius: .5rem;
}
.swiper-slide img{
  width: 11rem;
  border-radius: 1rem;
}
.swiper-slide section{
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.swiper-left{
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.swiper-slide section h1{
  color: goldenrod;
  font-size: 1.2rem;
}
.swiper-slide section p{
  font-size: 1rem;
}
.swiper-slide section h2{
  align-self: self-end;
  color: #9f3e14;
  text-align: center;
  font-size: 1.1rem;
}
.swiper-wrapper {
  transition-timing-function: ease-in-out !important;
}


.swiper-pagination-bullet{
  height: .3rem;
  width: .3rem;
  background: rgb(180, 180, 180);
}
.swiper-pagination-bullet-active{
  height: .3rem;
  width: .3rem;
  background: white;
}

