:root{
  --mPrimary: hsl(300, 63%, 80%);
  --mAccent: hsl(from var(--mPrimary) h s calc(l - 30));
  --mText: hsl(from var(--mPrimary) h s calc(l + 10));
  --mBackground: hsl(240, 14%, 10%);
  --mSecondary: hsl(from var(--mBackground) h s calc(l + 30));
}


body{
  /*Display*/
  display: grid;

  /*Style*/
  background-color: var(--mBackground);
}


header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo a{
  display:inline-block;
  color: var(--mPrimary);
}
#search{
  display: flex;
  justify-content: center;
}
#search input{
  background-color: var(--mSecondary);
  color: purple;
}
#search input::placeholder{
  color:  hsl( from var(--mSecondary) h s calc(l - 13));
}

@media (max-width: 425px) {
  header{
    height: auto;
    margin: 0 10px;
    padding: 5px;
  }
  .header-boxes{
    font-size: 3vw;
    height: 100%;
  }
  #logo a{
    font-size: 10px; 
  }
}
@media (min-width: 425px) {
  header{
    height: auto;
    margin: 0 10px;
    padding: 5px;
  }
  .header-boxes{
    font-size: 3vw;
    height: 100%;
  }
  #logo a{
    font-size: 10px; 
  }
}